*.raw filter=lfs diff=lfs merge=lfs -text
*.upf filter=lfs diff=lfs merge=lfs -text
espresso/cp.x/cp-wf_h2o/output-reference/** filter=lfs diff=lfs merge=lfs -text
deepmd/train_mlff_qe-cp-traj/*/output-reference/** filter=lfs diff=lfs merge=lfs -text
